[apply]
	whitespace = nowarn
[user]
	name = Foo Bar
	email = boo@bar.info
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
	interactive = auto
[push]
	default = matching
[pull]
	rebase = false
[core]
	editor = vim
	pager = less -F -X
[pager]
	color = true
[alias]
	cat = !cat @
	diverges = !bash -c 'diff -u <(git rev-list --first-parent "${1}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
	st = status
	ci = commit
	br = !git --no-pager branch
	co = checkout
	df = diff
	up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	ds = diff --stat
	lg = log --pretty=format:'%Cred%h%Creset - %Cgreen(%ci) %C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --no-abbrev-commit --date=relative
	csv = log --pretty=format:'\"%h\"\\%s\\%ci\\%an <%ae>' --no-abbrev-commit --date=relative
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
	ap = !clear && git add --patch
  bra = branch -avv
  cma = commit --verbose --amend
  cp = cherry-pick
	dc = !clear && git diff --cached
	rb = rebase
	rbc = rebase --continue
	rbi = rebase --interactive
	rmv = remote --verbose
	st = status
	sh = show
	sw = show --word-diff=color
	swp = show --word-diff=porcelain
	swc = show --word-diff=color --word-diff-regex=.
[diff]
	tool = bcompare
	renamelimit = 2000
	renames = true
[init]
	defaultBranch = main
# Only use if you installed https://github.com/MitMaro/git-interactive-rebase-tool
#[sequence]
#	editor = interactive-rebase-tool
