---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ region_cluster_name }}
  labels:
    name: {{ region_cluster_name }}
    vendor: auto-detect
    cloud: auto-detect
    clusterGroup: {{ clustergroup_label }}
spec:
  hubAcceptsClient: true
  leaseDurationSeconds: 60
...
